*{
    margin: 0%;
}
.coding{
    background-color: rgb(254, 2, 246);
    width: 100%;
    height: 100px;

}

.coding ul{
    display:block ;
    float:right;
    margin: 5px;
}

.coding ul li{
    display: inline-block;
}

.coding ul li a{
    list-style: none;
    text-decoration: none;
    color: rgb(238, 238, 238);
    margin: 10px; 
}

.wrapper{
padding: 15px;
margin-left: 20px; 
margin-right: 20px;
}

h2{
    color: aliceblue;
}
footer h2{
    color: rgb(143, 136, 136);
}

.submit{
    display: block;
    width: 200px;
    padding: 9px;
    color: rgb(216, 0, 223);
    background-color: rgba(119, 0, 255, 0.24);
}

.image{
    size: 5px;
    display: flex;

}

.center{
    text-align: center;
}

img{
    margin-left: 10px;
}

footer{
    background-color:aliceblue;
    color: blueviolet;
}